.project_lists {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.projects {
    align-self: stretch;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: #363535 solid 2px;
    border-left: #363535 solid 2px;
}

.projects h2 {
    padding-top: 1rem;
}

.projects li a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;

}

.projects li a:hover {
    text-decoration: underline;
}

.projects ul {
    font-size: 2rem;
    text-align: left;

}