#footer {
    position: absolute;
    width: 100%;
    text-align: center;
}

.banner p {
    font-family: 'Ruda', sans-serif;
    font-size: 45px;
    font-weight: 500;
    background-color: white;
    padding: 0rem 1rem 0rem 1rem;
    font-weight: bold;
    position: relative;
    display: inline-block;

}

.banner {
    background-image: url("https://raw.githubusercontent.com/masterdarklordofgithub/masterdarklordofgithub.github.io/main/resources/images/githubpage_banner.png");
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #dddddd;
    height: 30rem;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
}

.banner h1 {
    font-family: 'Ruda', sans-serif;
    font-size: 70px;
    font-weight: 900;

    color: white;
    position: relative;
    top: 15%;
}



.btn {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 14px;
    background-color: #1975f1;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    top: 80%;
    right: 50%;
}

.bnt:hover {
    background-color: #fff;
    color: #2176FF;
    transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active {
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}