* {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Ysabeau SC', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main {
    padding-bottom: 5rem;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #111;
}

.search {
    float: right;
    align-self: center;
}

.banner {
    background-image: url("https://raw.githubusercontent.com/masterdarklordofgithub/masterdarklordofgithub.github.io/main/resources/images/githubpage_banner.png");
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #dddddd;
    height: 25rem;
    position: relative;
    text-align: center;
    top: 1px;
    width: 100%;

}