html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 2rem;
    margin: 1rem 3rem 0 3rem;
}


.btn {
    color: #ffffff;
    font-family: 'noto sans', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #669b05;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: max-content;
}

section {
    width: 100%;
    background-color: rgb(20, 20, 19);
    border-bottom: grey solid 2px;
    color: white;
    padding: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* NAVIGATION */
.navigation {
    height: 6rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: rgb(148, 134, 134) solid 2px;
    z-index: 99;

    position: fixed;
    display: flex;
}

.navigation nav {
    align-self: center;
    margin-left: auto;
    padding-right: 5rem;
}

.navigation .logo {
    align-self: center;
    height: 80%;
    margin-left: 1%;
}



.navigation img:hover {
    cursor: pointer;
    height: 90%;
}

.navigation ul a:not(:last-child) {
    color: white;
    font-family: 'noto sans', sans-serif;
    text-decoration: none;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navigation ul a:hover:not(:last-child) {
    color: white !important;
    text-decoration: underline;
    opacity: 1;
}

.navigation ul a:last-child {
    margin-left: 2rem;
}

a.btn:hover {
    font-size: 1.2rem;
    opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
    .navigation {
        height: 3rem;
    }

    .navigation .logo img {
        height: 2rem;
    }

    .navigation ul a:not(:last-child) {
        font-size: 0.7rem;
    }

    .navigation ul a:last-child {
        font-size: 0.5rem;
    }

    .btn {
        padding: 0.3rem;
        border-radius: 0.5rem;
        border-radius: 0.1rem;
    }
}

/* BANNER */
.banner {

    text-transform: uppercase;

    border-bottom: 1px solid #dddddd;
    width: 100%;
    height: 45rem;
    align-items: center;

    background-image: url("https://raw.githubusercontent.com/masterdarklordofgithub/masterdarklordofgithub.github.io/main/resources/images/githubpage_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.banner h1 {
    font-family: 'noto sans', sans-serif;
    font-size: 4.5rem;
    font-weight: 900;
    color: white;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 0;
}

.banner p {
    font-family: 'noto sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    background-color: white;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 0 0 0;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.about-me-btn {
    margin-top: 15%;
    align-self: center;
}

@media only screen and (max-width: 1000px) {
    .banner {
        height: 30rem;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin-top: 20%;
    }

    .banner p {
        font-size: 1.7rem;
    }
}

/* MISSION */

.mission {}

.short_description {
    height: 100%;
    width: 80%;
    color: white;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* IMAGE-SET */
.image-set {
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    width: 80%;
    color: white;

    display: flex;
    align-content: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;

}

.image-container figure {
    background-color: rgb(51, 48, 48);
    width: auto;
    height: auto;
    display: flex;
    padding: 2rem 4rem 2rem 4rem;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    display: block;
}

figcaption {
    color: white;
}

figcaption p {
    font-size: 1rem;
}

/* DESCRIPTION */

.description ul {
    font-size: 2rem;
    text-align: left;
}


/* FOOTER */
footer {
    background-color: #000000;
    padding: 1.5rem 2rem;
    color: white;
}

footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
}

footer .copyright {
    flex-grow: 1;
}

@media only screen and (max-width: 760px) {
    footer .content {
        font-size: .625rem;
    }
}