#parent_div {
    position: relative;
    overflow: auto;
}

.frame {
    border: 3px solid #3d6406;
    width: 400px;
    height: 200px;
    margin: 2rem 2rem 2rem 0rem;
    float: left;
}

.frame p {
    text-align: center;
    line-height: 0.1rem;
    font-weight: bold;
}

.frame div {
    border: 3px solid #641c06;
    width: 50px;
    height: 50px;
    float: left;
    margin: 1rem 1rem 1rem 1rem;
}

.target {
    top: 20px;
    left: 20px;
    opacity: 0.3;
}

.pos_rel {
    background-color: yellowgreen;
    position: relative;
}

.pos_abs {
    background-color: pink;
    position: absolute;
}

.pos_stick {
    background-color: teal;
    position: sticky;
}

.pos_fix {
    background-color: purple;
    position: fixed;
}

.dis_block {
    background-color: blue;
    display: block;
}

.dis_inline {
    background-color: red;
    display: inline;
}

.dis_inl_block {
    background-color: orange;
    display: inline-block;
}

.dis_flex {
    background-color: gray;
    display: flex;
}

.dis_flex_flex_end {
    display: flex;
    justify-content: flex-end;

}

.dis_flex_space-around {
    display: flex;
    justify-content: space-around;
}

.green {
    color: yellowgreen;
}

.pink {
    color: pink;
}

.teal {
    color: teal;
}

.purple {
    color: purple;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}